.idea/
*.pyc
__pycache__
*.swp
.nfs*
*.sqlite
*.touch
.coverage

tmp/
.snakemake
_*_venv*/
doc/*.ps
doc/*.pdf
reports/*.pdf
/toolbox*/wheels/
dist/
/results/*
snakemake-report-plugin-wrroc/tests/test_workflow/results/
snakemake-report-plugin-wrroc/tests/test_workflow/logs
snakemake-report-plugin-wrroc/tests/test_workflow/image/